@media screen and (min-width:300px) {
    body {
        margin: 0;
        padding: 0;
    }

    .main-container {
        justify-content: center;
        background-color: whitesmoke;
        width: 100%;
        overflow: hidden;
        height: auto;
    }

    .firstdiv {
        display: flex;
        padding-top: 5px;
        padding-left: 4%;
        color: white;
        width: 100%;
        font-size: 10px;
        height: 50px;
        

        img{
            width: 30px;
            height: 30px;
        }

        h4{
            margin-left: 20%;
            
        }
    }

    #search{
        background-color: transparent;
        border-radius: 0.5em;
        padding-left: 8px;
        margin-left: 12%;
        border: 1.5px solid;
        width: 40%;
        height: 45px;
        color: white;
        display: none;
    }
    

    .johnwick {
        background-color: rgb(128, 128, 214);
        background-image: url(/image/Poster.png);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .seconddiv {
        width: 100%;
        height: auto;
        /* margin-top: 2%; */
        margin-left: 1%;
        /* background-color: red; */

    }

    .seconddiv h1 {
        color: white;
        font-size: 15px;
        font-weight: 600;
    }

    .IMDBcontainer {
        display: flex;
        color: white;
        /* word-spacing: 80px; */
        gap: 10px;
        /* font-weight: 600; */
        font-size: 15px;


        b {
            background-color: rgb(209, 209, 3);
            width: 15%;
            height: 20px;
            color: black;
            font-weight: 800;
        }
    }

    .text {
        width: 70%;
        height: auto;
        color: white;
        font-weight: 500;
        font-size: 10px;
        /* padding-top: 6 */
    }

    button {
        background-color: red;
        color: white;
        border-radius: 0.5em;
        margin-top: 2% ;
        height: 23px;
    }

    .featured{
        width: auto;
        height: 30px;
        background-color: rgb(231, 219, 205);
        display: flex;
        color: brown;
    }
    
    .features{
        margin-left: 2%;
        text-decoration: none;
        color: brown;
        font-size: 11px;
        font-weight: 600;
        margin-top: 1%;
    
    }
    .more{
        margin-left: 65%; 
        text-decoration: none;
        color: red;
        font-size: 11px;
        font-weight: 600;
        margin-top: 1%;
    }
    #movies{
        background-color: rgba(146, 164, 169, 0.511);
        height: auto;
        display: block;
        grid-template-columns: repeat(4,400px);
        overflow: hidden;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    
    #movies img{
        width: 100%;
        height: 500px;
        align-items: center;
    }
    h1{
list-style-type: none;
    }
    p{
list-style-type: none;
    }
    h5{
        text-align: center;
        padding-left: 2%;
        height: 20px;
        }
        .title{
            font-size: 0.9rem;
            text-decoration: none;
        }
        
        .movie-content p{
            color: yellow;
            font-size: 0.8rem;
            padding-bottom: 8%;
            text-decoration: none;
            list-style-type: none;
        }
        .former{
            height: 50px ;
          
        }
        .footer{
            background-color: rgb(241, 233, 233);
            width: 100%;
            height: auto;
        }
        .icon{
            padding-left: 20%;
            font-size: 2px;
        i{
            padding-left: 7%;
            padding-top: 5%;
            font-size: 5px;
        }
        }
        
        .footer-text{
            font-size: 10px;
            /* font-weight: 600; */
            text-align: center;
            padding-top: 2%;
}
}



@media  screen and (min-width:500px) {
    body{
        margin: 0;
        padding: 0;
    }
    
    .main-container{
        justify-content: center;
        background-color: whitesmoke;
        width:100%;
        height: auto;
    }
    
    .firstdiv{
        display: flex;
        padding-top:10px;
        padding-left: 4%;
        color: white;
        width: 96%;
        height: 50px;
        gap: 15px;

 img{
            width: 50px;
            height: 50px;
        }

        h4{
            margin-left: 30%;
            
        }
}

    
#search{
    background-color: transparent;
    border-radius: 0.5em;
    padding-left: 8px;
    margin-left: 12%;
    border: 1.5px solid;
    width: 40%;
    height: 45px;
    color: white;

}
h3{
    font-size: 20px;
}

.firstdiv h4{
    padding-left: 12%;
    font-size: 15px;
}

 .johnwick{
    background-color: rgb(128, 128, 214);
    background-image: url(/image/Poster.png);
    width: 100%;
    height: 270px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

} 

.seconddiv{
    width: 50%;
    height: 200px;
    margin-top: 2%;
margin-left: 4%;
margin-bottom: 4%;

}

.seconddiv h1{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.IMDBcontainer{
    display: flex;
    color: white;
    word-spacing: 80px;
    gap: 10px;
    font-weight: 600;
b{
    background-color: rgb(209, 209, 3);
    width: 28%;
    height: 20px;
    color: black;
    font-weight: 800;
    font-size: 20px;
}
}

.text{
    width: 90%;
    height: 70px;
    color: white;
    font-weight: 500;
    padding-top: 8px;
    font-size: 15px;
}

button{
    background-color: red;
    color: white;
    border-radius: 0.5em;
    height: 35px;
    /* margin-bottom: 10%; */
}
#movies{
    background-color: rgba(146, 164, 169, 0.511);
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,245px);
    overflow: hidden;
    /* width: 100%; */
    justify-content: space-around;
    /* align-items: center; */
}

#movies img{
    width: 100%;
    /* align-items: center; */
}

h5{
    text-align: center;
    padding-left: 2%;
    height: 20px;
    }
    .title{
        font-size: 0.9rem;
        text-decoration: none;
    }
    
    .movie-content p{
        color: yellow;
        font-size: 0.8rem;
        padding-bottom: 8%;
        text-decoration: none;
        list-style-type: none;
    }
    .former{
        height: 50px ;
      
    }
    .footer{
        background-color: rgb(241, 233, 233);
        width: 100%;
        height: auto;
    }
    .icon{
        padding-left: 20%;
        font-size: 2px;
    i{
        padding-left: 9%;
        padding-top: 5%;
        font-size: 5px;
    }
    }
    
    .footer-text{
        font-size: 10px;
        /* font-weight: 600; */
        text-align: center;
        padding-top: 2%;
}

}

@media screen and (min-width: 700px) {
    body{
        margin: 0;
        padding: 0;
    }
    
    .main-container{
        justify-content: center;
        background-color: whitesmoke;
        width:100%;
        height: auto;
    }
    
    .firstdiv{
        display: flex;
        padding-top:10px;
        padding-left: 4%;
        color: white;
        width: 96%;
        height: 50px;
        gap: 15px;

 img{
            width: 50px;
            height: 50px;
        }

        h4{
            margin-left: 8%;
            width: 20%;
            height: 40px;
            font-size: 15px;
            
        }
}

    
#search{
    background-color: transparent;
    border-radius: 0.5em;
    padding-left: 8px;
    margin-left: 5%;
    border: 1.5px solid;
    width: 50%;
    height: 45px;
    color: white;
    display: block;

}
h3{
    font-size: 22px;
    width: 30%;
    line-height: 5px;
}

.firstdiv h4{
    padding-left: 5%;
    font-size: 15px;
}

 .johnwick{
    background-color: rgb(128, 128, 214);
    background-image: url(/image/Poster.png);
    width: 100%;
    height: 270px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

} 

.seconddiv{
    width: 50%;
    height: 200px;
    margin-top: 2%;
margin-left: 4%;
margin-bottom: 4%;

}

.seconddiv h1{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.IMDBcontainer{
    display: flex;
    color: white;
    word-spacing: 80px;
    gap: 10px;
    font-weight: 600;
b{
    background-color: rgb(209, 209, 3);
    width: 28%;
    height: 20px;
    color: black;
    font-weight: 800;
    font-size: 20px;
}
}

.text{
    width: 90%;
    height: 70px;
    color: white;
    font-weight: 500;
    padding-top: 8px;
    font-size: 15px;
}

button{
    background-color: rgb(254, 75, 75);
    color: white;
    border-radius: 0.5em;
}
#movies{
    background-color: rgba(146, 164, 169, 0.511);
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,240px);
    overflow: hidden;
    /* width: 100%; */
    justify-content: space-around;
    /* align-items: center; */
}

#movies img{
    width: 100%;
    /* align-items: center; */
}

h5{
    text-align: center;
    padding-left: 2%;
    height: 20px;
    }
    .title{
        font-size: 0.9rem;
        text-decoration: none;
    }
    
    .movie-content p{
        color: yellow;
        font-size: 0.8rem;
        padding-bottom: 8%;
        text-decoration: none;
        list-style-type: none;
    }
    .former{
        height: 50px ;
      
    }
    .footer{
        background-color: rgb(241, 233, 233);
        width: 100%;
        height: auto;
    }
    .icon{
        padding-left: 20%;
        font-size: 2px;
    i{
        padding-left: 12%;
        padding-top: 5%;
        font-size: 5px;
    }
    }
    
    .footer-text{
        font-size: 10px;
        /* font-weight: 600; */
        text-align: center;
        padding-top: 2%;
}

}


@media screen and (min-width: 900px) {
    body{
        margin: 0;
        padding: 0;
}

.main-container{
    justify-content: center;
    background-color: whitesmoke;
    width:100%;
    height: auto;
}

.firstdiv{
    display: flex;
    padding-top:10px;
    padding-left: 4%;
    color: white;
    width: 96%;
    height: 50px;
    gap: 15px;

img{
        width: 50px;
        height: 50px;
    }

    h4{
        margin-left: 8%;
            width: 20%;
            height: 40px;
            font-size: 15px;
        
    }
}


#search{
background-color: transparent;
border-radius: 0.5em;
padding-left: 8px;
margin-left: 12%;
border: 1.5px solid;
width: 40%;
height: 45px;
color: white;

}
h3{
    font-size: 22px;
    width: 30%;
    line-height: 5px;
}

.firstdiv h4{
padding-left: 12%;
font-size: 15px;
}

.johnwick{
background-color: rgb(128, 128, 214);
background-image: url(/image/Poster.png);
width: 100%;
height: 300px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;

} 

.seconddiv{
width: 50%;
height: 200px;
margin-top: 2%;
margin-left: 4%;
margin-bottom: 4%;

}

.seconddiv h1{
color: white;
font-size: 20px;
font-weight: 600;
}

.IMDBcontainer{
display: flex;
color: white;
word-spacing: 80px;
gap: 10px;
font-weight: 600;
b{
background-color: rgb(209, 209, 3);
width: 28%;
height: 20px;
color: black;
font-weight: 800;
font-size: 20px;
}
}

.text{
width: 70%;
height: 65px;
color: white;
font-weight: 500;
padding-top: 7px;
font-size: 15px;
}

button{
background-color: red;
color: white;
border-radius: 0.5em;
height: 35px;
margin-bottom: 10%;
}

.featured{
    width: auto;
    height: 30px;
    background-color: rgb(231, 219, 205);
    display: flex;
    color: brown;
}

.features{
    margin-left: 2%;
    text-decoration: none;
    color: brown;
    font-size: 11px;
    font-weight: 600;
    margin-top: 1%;

}
.more{
    margin-left: 85%; 
    text-decoration: none;
    color: red;
    font-size: 11px;
    font-weight: 600;
    margin-top: 1%;
}

#movies{
    background-color: rgba(146, 164, 169, 0.511);
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,300px);
    overflow: hidden;
    /* width: 100%; */
    justify-content: space-around;
    /* align-items: center; */
}

#movies img{
    width: 100%;
    /* align-items: center; */
}

h5{
    text-align: center;
    padding-left: 2%;
    height: 20px;
    }
    .title{
        font-size: 0.9rem;
        text-decoration: none;
    }
    
    .movie-content p{
        color: yellow;
        font-size: 0.8rem;
        padding-bottom: 8%;
        text-decoration: none;
        list-style-type: none;
    }
    .former{
        height: 50px ;
      
    }
    .footer{
        background-color: rgb(241, 233, 233);
        width: 100%;
        height: auto;
    }
    .icon{
        padding-left: 20%;
        font-size: 2px;
    i{
        padding-left: 12%;
        padding-top: 5%;
        font-size: 5px;
    }
    }
    
    .footer-text{
        font-size: 10px;
        text-align: center;
        padding-top: 2%;
}

}


@media screen and (min-width: 1100px) {
    body{
        margin: 0;
        padding: 0;
}

.main-container{
    justify-content: center;
    background-color: whitesmoke;
    width:100%;
    height: auto;
}

.firstdiv{
    display: flex;
    padding-top:10px;
    padding-left: 4%;
    color: white;
    width: 96%;
    height: 50px;
    gap: 15px;

img{
        width: 60px;
        height: 60px;
    }

    h4{
        margin-left: 8%;
            width: 20%;
            height: 40px;
            font-size: 25px;
        
    }
}


#search{
background-color: transparent;
border-radius: 0.5em;
padding-left: 8px;
margin-left: 8%;
border: 1.5px solid;
width: 50%;
height: 45px;
color: white;

}
h3{
    font-size: 30px;
    width: 40%;
    line-height: 5px;
}

.firstdiv h4{
padding-left: 12%;
font-size: 20px;

}

.johnwick{
background-color: rgb(128, 128, 214);
background-image: url(/image/Poster.png);
width: 100%;
height: 350px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;

} 

.seconddiv{
width: 50%;
height: 200px;
margin-top: 2%;
margin-left: 4%;
margin-bottom: 4%;

}

.seconddiv h1{
color: white;
font-size: 35px;
font-weight: 600;
padding-top: 2%;
}

.IMDBcontainer{
display: flex;
color: white;
word-spacing: 80px;
gap: 10px;
font-weight: 600;
b{
background-color: rgb(209, 209, 3);
width: 15%;
height: 20px;
color: black;
font-weight: 800;
font-size: 20px;
}
}

.text{
width: 70%;
height: 65px;
color: white;
font-weight: 500;
padding-top: 15px;
font-size: 20px;
}

button{
background-color: red;
color: white;
border-radius: 0.5em;
height: 35px;
margin-bottom: 10%;
}

.featured{
    width: auto;
    height: 50px;
    background-color: rgb(231, 219, 205);
    display: flex;
    color: brown;
}

.features{
    margin-left: 2%;
    text-decoration: none;
    color: brown;
    font-size: 20px;
    font-weight: 600;
    /* margin-top: 1%; */

}
.more{
    margin-left: 75%; 
    text-decoration: none;
    color: red;
    font-size: 20px;
    font-weight: 600;
    /* margin-top: 1%; */
}

#movies{
    background-color: rgba(146, 164, 169, 0.511);
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,270px);
    overflow: hidden;
    /* width: 100%; */
    justify-content: space-around;
    /* align-items: center; */
}

#movies img{
    width: 100%;
    /* align-items: center; */
}

h5{
    text-align: center;
    padding-left: 2%;
    height: 20px;
    }
    .title{
        font-size: 0.9rem;
        text-decoration: none;
    }
    
    .movie-content p{
        color: yellow;
        font-size: 0.8rem;
        padding-bottom: 8%;
        text-decoration: none;
        list-style-type: none;
    }
    .former{
        height: 50px ;
      
    }
    .footer{
        background-color: rgb(241, 233, 233);
        width: 100%;
        height: auto;
    }
    .icon{
        padding-left: 20%;
        font-size: 2px;
    i{
        padding-left: 12%;
        padding-top: 5%;
        font-size: 5px;
    }
    }
    
    .footer-text{
        font-size: 10px;
        text-align: center;
        padding-top: 2%;
}

}


@media screen and (min-width: 1400px) {
    body{
        margin: 0;
        padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.main-container{
justify-content: center;
background-color: whitesmoke;
width:100%;
height: auto;
}

.firstdiv{
display: flex;
padding-top:10px;
padding-left: 4%;
color: white;
width: 96%;
height: 50px;
gap: 15px;

img{
    width: 60px;
    height: 60px;
}

h4{
    margin-left: 8%;
        width: 20%;
        height: 40px;
        font-size: 25px;
    
}
}


#search{
background-color: transparent;
border-radius: 0.5em;
padding-left: 7px;
margin-left: 7%;
border: 1.5px solid;
width: 60%;
height: 45px;
color: white;

}
h3{
font-size: 30px;
width: 40%;
line-height: 5px;
}

.firstdiv h4{
padding-left: 12%;
font-size: 20px;

}

.johnwick{
background-color: rgb(128, 128, 214);
background-image: url(/image/Poster.png);
width: 100%;
height: 350px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;

} 

.seconddiv{
width: 50%;
height: 200px;
margin-top: 2%;
margin-left: 4%;
margin-bottom: 4%;

}

.seconddiv h1{
color: white;
font-size: 35px;
font-weight: 600;
padding-top: 2%;
}

.IMDBcontainer{
display: flex;
color: white;
word-spacing: 80px;
gap: 10px;
font-weight: 600;
b{
background-color: rgb(209, 209, 3);
width: 15%;
height: 20px;
color: black;
font-weight: 800;
font-size: 20px;
}
}

.text{
width: 70%;
height: 65px;
color: white;
font-weight: 500;
padding-top: 15px;
font-size: 20px;
}

button{
background-color: red;
color: white;
border-radius: 0.5em;
height: 35px;
margin-bottom: 10%;
}

.featured{
width: auto;
height: 50px;
background-color: rgb(231, 219, 205);
display: flex;
color: brown;
}

.features{
margin-left: 2%;
text-decoration: none;
color: brown;
font-size: 25px;
font-weight: 600;
/* margin-top: 1%; */

}
.more{
margin-left: 80%; 
text-decoration: none;
color: red;
font-size: 25px;
font-weight: 600;
/* margin-top: 1%; */
}

#movies{
background-color: rgba(146, 164, 169, 0.511);
height: auto;
display: grid;
grid-template-columns: repeat(4,350px);
overflow: hidden;
/* width: 100%; */
justify-content: space-around;
/* align-items: center; */
}

#movies img{
width: 100%;
/* align-items: center; */
}

h5{
text-align: center;
padding-left: 2%;
height: 20px;
}
.title{
    font-size: 1rem;
    text-decoration: none;
}

.movie-content p{
    color: yellow;
    font-size: 0.8rem;
    padding-bottom: 8%;
    text-decoration: none;
    list-style-type: none;
}
.former{
    height: 50px ;
  
}
.footer{
    background-color: rgb(241, 233, 233);
    width: 100%;
    height: auto;
}
.icon{
    padding-left: 40%;
    font-size: 2px;
i{
    padding-left: 5%;
    padding-top: 5%;
    font-size: 5px;
}
}

.footer-text{
    font-size: 10px;
    text-align: center;
    padding-top: 2%;
}

}