@media screen and (min-width:300px){  
body{
    margin: 0;
    padding: 0;
}

.main-container{
    width: 100%;
    height: auto;
    background-color: rgb(146, 146, 0);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sidenav-container{
    background-color: white;
    width: 100%;
    height: auto;
    padding-top: 3%;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-right: 3px solid  rgb(74, 68, 68);
    position: none;
    overflow: hidden;
    flex-direction: column;

}

.sidenav1{
    width: 100%;
    display: flex;
}

.img6{
    width: 55px;
    height: 55px; 
    margin-left: 7%; 
    margin-bottom:10% ; 
}
a{
    text-decoration: none;
    color: black;
}

h2{
    color: black;
    font-weight: 10px;
    font-size: 28px;
    padding-left: 10px;
    margin-bottom: 10%;
}

.sidenav2{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    padding-left: 15%;
    padding-top: 8%;
    background-color: whitesmoke;
    margin-top: 5%;
}
.sidenav3{
    width: 83.5%;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 15%;
    padding-top: 8%;
    background-color: rgb(255, 211, 227);
    margin-top: 5%;
    border-right: 4px solid red;

} .sidenav4{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    padding-left: 15%;
    padding-top: 8%;
    background-color: whitesmoke;
    margin-top: 5%;
} 
.sidenav5{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    padding-left: 15%;
    padding-top: 8%;
    background-color: whitesmoke;
    margin-top: 5%;
}

.sidenav6{
    background-color:white;
    width: 55%;
    height: 20%;
    margin-left: 12%;
    margin-top: 15%;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 3%;
    padding-top:5%;
    padding-bottom: 5%;
    border-radius: 5px;
    border: 1px solid red;

    p{
        font-size: 12px;
        font-weight: 400;
        padding-top: 7%;
    }
}

.playing-now{
    margin-left: 14%;
    background-color: rgb(245, 137, 137);
    color: red;
    font-size: 15px;
    height: 35px;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;

}

.sidenav7{
    font-size: 18px;
    height: 40px;
    padding-left: 18%;
    padding-top: 10%;
    font-weight: 500;
    background-color: whitesmoke;
    margin-top: 5%;
    p{
        font-size: 2px;
    }
}

i{
    padding-right: 10%;
}


.main-body{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto; 
}

.trailer-display{
    background-color: wheat;
    width: 100%;
    height: 250px;
    margin-top: 2%;
    margin-left: 0%;
}
.movie-frame{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    
    iframe{
        width: 100%;
        height: 250px;
    }
}


.down-body{
    background-color: wheat;
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
}

.chief-station{
    width: 100%;
    height: auto;
    background-color: rgb(253, 251, 251);
    border-right: 2px solid rgb(97, 95, 95);
    padding-left: 2%;
p{
    font-size: 15px;
    font-weight: 500;
}
}

.overview{
    font-size: 15px;
}

.action-triller{
    width: 80%;
    height: 50px;
    /* background-color:red; */
    display: flex;
h3{
    font-weight: 600;
    font-size: 16px;
}
button{
    border-radius: 0.8em;
    border: 1px solid red;
    width: 20%;
    height: 40px;
    margin-top: 1.5%;
    gap: 1%;
    margin-left: 2%;
    font-size: 15px;
    color: red;   
}
}


.rating-vote{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.star_vote{
    height: 50px;
    width: 70%;
    margin-left:30%;
    text-align: center;
    padding-top: 4%;
    font-weight: 600;
    font-size: 20px;
    color: rgb(84, 13, 13);
}

.see_showtime{
    background-color: red;
    width: 90%;
    height: 50px;
    color: white;
    border: 1px solid red;
    border-radius: 0.8em;
    margin-top: 1%;
    font-size: 15px;
    margin-left: 4%;
    
}
.more_watchoption{
background-color: rgb(222, 180, 180);
    width: 90%;
    height: 50px;
    color: black;
    border: 1px solid red;
    border-radius: 0.8em;
    margin-top: 0.5%;
    font-size: 15px;
    margin-left: 4%;
}
}



@media screen and (min-width:450px){  
    body{
        margin: 0;
        padding: 0;
    }
    
    .main-container{
        width: 100%;
        height: auto;
        background-color: rgb(146, 146, 0);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .sidenav-container{
        background-color: white;
        width: 100%;
        height: auto;
        padding-top: 3%;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
        border-right: 3px solid  rgb(74, 68, 68);
        position: none;
        overflow: hidden;
        flex-direction: column;
    
    }
    
    .sidenav1{
        width: 100%;
        display: flex;
    }
    
    .img6{
        width: 70px;
        height: 70px; 
        margin-left: 17%; 
        margin-bottom:10% ; 
    }
    a{
        text-decoration: none;
        color: black;
    }
    
    h2{
        color: black;
        font-weight: 10px;
        font-size: 35px;
        padding-left: 10px;
        margin-bottom: 5%;
    }
    
    .sidenav2{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 8%;
        background-color: whitesmoke;
        margin-top: 5%;
        display: none;
    }
    .sidenav3{
        width: 83.5%;
        height: 40px;
        font-size: 18px;
        font-weight: 600;
        padding-left: 15%;
        padding-top: 8%;
        background-color: rgb(255, 211, 227);
        margin-top: 5%;
        border-right: 4px solid red;
        display: none;
    
    } .sidenav4{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 8%;
        background-color: whitesmoke;
        margin-top: 5%;
        display: none;
    } 
    .sidenav5{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 8%;
        background-color: whitesmoke;
        margin-top: 5%;
        display: none;
    }
    
    .sidenav6{
        background-color:white;
        width: 55%;
        height: 20%;
        margin-left: 12%;
        margin-top: 15%;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        padding-left: 3%;
        padding-top:5%;
        padding-bottom: 5%;
        border-radius: 5px;
        border: 1px solid red;
        display: none;
    
        p{
            font-size: 12px;
            font-weight: 400;
            padding-top: 7%;
        }
    }
    
    .playing-now{
        margin-left: 14%;
        background-color: rgb(245, 137, 137);
        color: red;
        font-size: 15px;
        height: 35px;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
    
    }
    
    .sidenav7{
        font-size: 18px;
        height: 40px;
        padding-left: 18%;
        padding-top: 10%;
        font-weight: 500;
        background-color: whitesmoke;
        margin-top: 5%;
        display: none;

        p{
            font-size: 2px;
        }
    }
    
    i{
        padding-right: 10%;
    }
    
    
    .main-body{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: auto; 
    }
    
    .trailer-display{
        background-color: wheat;
        width: 100%;
        height: 250px;
        margin-top: 2%;
        margin-left: 0%;
    }
    .movie-frame{
        width: 100%;
        margin: auto;
        margin-top: 20px;
        
        iframe{
            width: 100%;
            height: 250px;
        }
    }
    
    
    .down-body{
        background-color: wheat;
        width: 100%;
        height: auto;
        margin-top: 2%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
    }
    
    .chief-station{
        width: 100%;
        height: auto;
        background-color: rgb(253, 251, 251);
        border-right: 2px solid rgb(97, 95, 95);
        padding-left: 2%;
    p{
        font-size: 15px;
        font-weight: 500;
    }
    }
    
    .overview{
        font-size: 15px;
    }
    
    .action-triller{
        width: 80%;
        height: 50px;
        /* background-color:red; */
        display: flex;
    h3{
        font-weight: 600;
        font-size: 16px;
    }
    button{
        border-radius: 0.8em;
        border: 1px solid red;
        width: 20%;
        height: 40px;
        margin-top: 1.5%;
        gap: 1%;
        margin-left: 2%;
        font-size: 15px;
        color: red;   
    }
    }
    
    
    .rating-vote{
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
    }
    
    .star_vote{
        height: 50px;
        width: 70%;
        margin-left:30%;
        text-align: center;
        padding-top: 4%;
        font-weight: 600;
        font-size: 20px;
        color: rgb(84, 13, 13);
    }
    
    .see_showtime{
        background-color: red;
        width: 90%;
        height: 50px;
        color: white;
        border: 1px solid red;
        border-radius: 0.8em;
        margin-top: 1%;
        font-size: 15px;
        margin-left: 4%;
        
    }
    .more_watchoption{
    background-color: rgb(222, 180, 180);
        width: 90%;
        height: 50px;
        color: black;
        border: 1px solid red;
        border-radius: 0.8em;
        margin-top: 0.5%;
        font-size: 15px;
        margin-left: 4%;
    }
    }


@media screen and (min-width:700px) {
    body{
        margin: 0;
        padding: 0;
    }
    
    .main-container{
        width: 100%;
        height: auto;
        background-color: rgb(146, 146, 0);
        display: flex;
        flex-direction: row;
    }
    
    .sidenav-container{
        background-color: white;
        width: 30%;
        height: auto;
        padding-top: 3%;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-right: 3px solid  rgb(74, 68, 68);
        position: none;
        overflow: hidden;
    
    }
    
    .sidenav1{
        width: 100%;
        display: flex;
    }
    
    .img6{
        width: 55px;
        height: 55px; 
        margin-left: 7%; 
        margin-bottom:10% ; 
    }
    a{
        text-decoration: none;
        color: black;
    }
    
    h2{
        color: black;
        font-weight: 10px;
        font-size: 22px;
        padding-left: 10px;
        margin-bottom: 10%;
    }
    
    .sidenav2{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 8%;
        background-color: whitesmoke;
        margin-top: 10%;
        display: block;
    }
    .sidenav3{
        width: 83.5%;
        height: 40px;
        font-size: 18px;
        font-weight: 600;
        padding-left: 15%;
        padding-top: 8%;
        background-color: rgb(237, 184, 184);
        margin-top: 10%;
        border-right: 5px solid red;
        display: block;
    
    } .sidenav4{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 8%;
        background-color: whitesmoke;
        margin-top: 10%;
        display: block;
    } 
    .sidenav5{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 8%;
        background-color: whitesmoke;
        margin-top: 10%;
        display: block;
    }
    
    .sidenav6{
        background-color:white;
        width: 70%;
        height: 20%;
        margin-left: 10%;
        margin-top: 18%;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        padding-left: 3%;
        padding-top:8% ;
        border-radius: 5px;
        border: 1px solid red;
        display: block;
    
        p{
            font-size: 12px;
            font-weight: 400;
            padding-top: 7%;
        }
    }
    
    .playing-now{
        margin-left: 14%;
        background-color: rgb(245, 137, 137);
        color: red;
        font-size: 15px;
        height: 35px;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
    }
    
    .sidenav7{
        font-size: 18px;
        height: 40px;
        padding-left: 18%;
        padding-top: 9%;
        font-weight: 500;
        background-color: whitesmoke;
        margin-top: 5%;
        display: block;
        p{
            font-size: 2px;
        }
    }
    
    i{
        padding-right: 10%;
    }
    
    
    .main-body{
        background-color: azure;
        width: 70%;
        height: auto; 
    }
    
    .trailer-display{
        background-color: wheat;
        width: 95%;
        height: 300px;
        margin-top: 2%;
        margin-left: 3%;
    }
    .movie-frame{
        width: 100%;
        margin: auto;
        margin-top: 20px;
        margin-left: 0%;
        
        iframe{
            width: 100%;
            height: 300px;
        }
    }
    
    .down-body{
        background-color: wheat;
        width: 100%;
        height: auto;
        margin-top: 2%;
        margin-left: 0%;
        display: flex;
        flex-direction: row;
        
    }
    
    .chief-station{
        width: 60%;
        height: auto;
        background-color: azure;
        border-right: 2px solid rgb(97, 95, 95);
    p{
        font-size: 16px;
        font-weight: 500;
    }
    }
    .overview{
        font-size: 15px;
    }
    .action-triller{
        width: 80%;
        height: 50px;
        /* background-color:red; */
        display: flex;
    h3{
        font-weight: 600;
        font-size: 16px;
    }
    button{
        border-radius: 0.8em;
        border: 1px solid red;
        width: 40%;
        height: 40px;
        margin-top: 1.5%;
        gap: 1%;
        margin-left: 2%;
        font-size: 15px;
        color: red;
    }
    }
    
    .rating-vote{
        width: 40%;
        height: auto;
        background-color: azure;
    }
    
    .star_vote{
        height: 50px;
        width: 70%;
        margin-left:30%;
        text-align: center;
        padding-top: 4%;
        font-weight: 600;
        font-size: 20px;
        color: rgb(84, 13, 13);
    }
    
    .see_showtime{
        background-color: red;
        width: 80%;
        height: 50px;
        color: white;
        border: 1px solid red;
        border-radius: 0.8em;
        margin-top: 1%;
        font-size: 16px;
    }
    .more_watchoption{
    background-color: rgb(222, 180, 180);
        width: 80%;
        height: 50px;
        color: black;
        border: 1px solid red;
        border-radius: 0.8em;
        margin-top: 0.5%;
        font-size: 16px;
    }    
}



@media screen and (min-width:1000px) {
    body{
        margin: 0;
        padding: 0;
    }
    
    .main-container{
        width: 100%;
        height: auto;
        background-color: rgb(146, 146, 0);
        display: flex;
        flex-direction: row;
    }
    
    .sidenav-container{
        background-color: white;
        width: 25%;
        height: 600px;
        padding-top: 3%;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-right: 3px solid  rgb(74, 68, 68);
        position: none;
        overflow: hidden;
    
    }
    
    .sidenav1{
        width: 100%;
        display: flex;
    }
    
    .img6{
        width: 55px;
        height: 55px; 
        margin-left: 7%; 
        margin-bottom:10% ; 
    }
    a{
        text-decoration: none;
        color: black;
    }
    
    h2{
        color: black;
        font-weight: 10px;
        font-size: 22px;
        padding-left: 10px;
        margin-bottom: 10%;
    }
    
    .sidenav2{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 5%;
        background-color: whitesmoke;
        margin-top: 4%;
        display: block;
    }
    .sidenav3{
        width: 83.5%;
        height: 40px;
        font-size: 18px;
        font-weight: 600;
        padding-left: 15%;
        padding-top: 5%;
        background-color: rgb(237, 184, 184);
        margin-top: 5%;
        border-right: 5px solid red;
        display: block;
    
    } .sidenav4{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 5%;
        background-color: whitesmoke;
        margin-top: 5%;
        display: block;
    } 
    .sidenav5{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 5%;
        background-color: whitesmoke;
        margin-top: 5%;
        display: block;
    }
    
    .sidenav6{
        background-color:white;
        width: 60%;
        height: 20%;
        margin-left: 10%;
        margin-top: 7%;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        padding-left: 3%;
        padding-top:4% ;
        border-radius: 5px;
        border: 1px solid red;
        display: block;
    
        p{
            font-size: 12px;
            font-weight: 400;
            padding-top: 4%;
        }
    }
    
    .playing-now{
        margin-left: 14%;
        background-color: rgb(245, 137, 137);
        color: red;
        font-size: 15px;
        height: 35px;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
    }
    
    .sidenav7{
        font-size: 18px;
        height: 40px;
        padding-left: 18%;
        padding-top: 5%;
        font-weight: 500;
        background-color: whitesmoke;
        margin-top: 5%;
        display: block;
        p{
            font-size: 2px;
        }
    }
    
    i{
        padding-right: 10%;
    }
    
    
    .main-body{
        background-color: azure;
        width: 75%;
        height: 630px; 
    }
    
    .trailer-display{
        background-color: wheat;
        width: 95%;
        height: 350px;
        margin-top: 2%;
        margin-left: 3%;
    }
    .movie-frame{
        width: 100%;
        margin: auto;
        margin-top: 20px;
        margin-left: 0%;
        
        iframe{
            width: 100%;
            height: 350px;
        }
    }
    
    .down-body{
        background-color: wheat;
        width: 100%;
        height: auto;
        margin-top: 2%;
        margin-left: 0%;
        display: flex;
        flex-direction: row;
        
    }
    
    .chief-station{
        width: 60%;
        height: auto;
        background-color: azure;
        border-right: 2px solid rgb(97, 95, 95);
    p{
        font-size: 13px;
        font-weight: 500;
    }
    }
    .overview{
        font-size: 14px;
    }
    .action-triller{
        width: 80%;
        height: 50px;
        /* background-color:red; */
        display: flex;
    h3{
        font-weight: 600;
        font-size: 16px;
    }
    button{
        border-radius: 0.8em;
        border: 1px solid red;
        width: 20%;
        height: 40px;
        margin-top: 1.5%;
        gap: 1%;
        margin-left: 2%;
        font-size: 15px;
        color: red;
    }
    }
    
    .rating-vote{
        width: 40%;
        height: auto;
        background-color: azure;
    }
    
    .star_vote{
        height: 50px;
        width: 70%;
        margin-left:30%;
        text-align: center;
        padding-top: 4%;
        font-weight: 600;
        font-size: 20px;
        color: rgb(84, 13, 13);
    }
    
    .see_showtime{
        background-color: red;
        width: 80%;
        height: 50px;
        color: white;
        border: 1px solid red;
        border-radius: 0.8em;
        margin-top: 1%;
        font-size: 16px;
    }
    .more_watchoption{
    background-color: rgb(222, 180, 180);
        width: 80%;
        height: 50px;
        color: black;
        border: 1px solid red;
        border-radius: 0.8em;
        margin-top: 0.5%;
        font-size: 16px;
    }    
}



@media screen and (min-width:1300px) {
    body{
        margin: 0;
        padding: 0;
    }
    
    .main-container{
        width: 100%;
        height: auto;
        background-color: rgb(146, 146, 0);
        display: flex;
        flex-direction: row;
    }
    
    .sidenav-container{
        background-color: white;
        width: 23%;
        height: 650px;
        padding-top: 3%;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-right: 3px solid  rgb(74, 68, 68);
        position: none;
        overflow: hidden;
    
    }
    
    .sidenav1{
        width: 100%;
        display: flex;
    }
    
    .img6{
        width: 55px;
        height: 55px; 
        margin-left: 7%; 
        margin-bottom:10% ; 
    }
    a{
        text-decoration: none;
        color: black;
    }
    
    h2{
        color: black;
        font-weight: 10px;
        font-size: 22px;
        padding-left: 10px;
        margin-bottom: 10%;
    }
    
    .sidenav2{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 5%;
        background-color: whitesmoke;
        margin-top: 4%;
        display: block;
    }
    .sidenav3{
        width: 83.5%;
        height: 40px;
        font-size: 18px;
        font-weight: 600;
        padding-left: 15%;
        padding-top: 5%;
        background-color: rgb(237, 184, 184);
        margin-top: 5%;
        border-right: 5px solid red;
        display: block;
    
    } .sidenav4{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 5%;
        background-color: whitesmoke;
        margin-top: 5%;
        display: block;
    } 
    .sidenav5{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 5%;
        background-color: whitesmoke;
        margin-top: 5%;
        display: block;
    }
    
    .sidenav6{
        background-color:white;
        width: 60%;
        height: 20%;
        margin-left: 10%;
        margin-top: 7%;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        padding-left: 3%;
        padding-top:4% ;
        border-radius: 5px;
        border: 1px solid red;
        display: block;
    
        p{
            font-size: 12px;
            font-weight: 400;
            padding-top: 4%;
        }
    }
    
    .playing-now{
        margin-left: 14%;
        background-color: rgb(245, 137, 137);
        color: red;
        font-size: 15px;
        height: 35px;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
    }
    
    .sidenav7{
        font-size: 18px;
        height: 40px;
        padding-left: 18%;
        padding-top: 5%;
        font-weight: 500;
        background-color: whitesmoke;
        margin-top: 6%;
        display: block;
        p{
            font-size: 2px;
        }
    }
    
    i{
        padding-right: 10%;
    }
    
    
    .main-body{
        background-color: azure;
        width: 77%;
        height: 690px; 
    }
    
    .trailer-display{
        background-color: wheat;
        width: 98%;
        height: 370px;
        margin-top: 2%;
        margin-left: 1%;
    }
    .movie-frame{
        width: 100%;
        margin: auto;
        margin-top: 20px;
        margin-left: 0%;
        
        iframe{
            width: 100%;
            height: 370px;
        }
    }
    
    .down-body{
        background-color: wheat;
        width: 100%;
        height: auto;
        margin-top: 2%;
        margin-left: 0%;
        display: flex;
        flex-direction: row;
        
    }
    
    .chief-station{
        width: 60%;
        height: auto;
        background-color: azure;
        border-right: 2px solid rgb(97, 95, 95);
    p{
        font-size: 16px;
        font-weight: 500;
    }
    }
    .overview{
        font-size: 15px;
    }
    .action-triller{
        width: 80%;
        height: 50px;
        /* background-color:red; */
        display: flex;
    h3{
        font-weight: 600;
        font-size: 16px;
    }
    button{
        border-radius: 0.8em;
        border: 1px solid red;
        width: 20%;
        height: 40px;
        margin-top: 1.5%;
        gap: 1%;
        margin-left: 2%;
        font-size: 15px;
        color: red;
    }
    }
    
    .rating-vote{
        width: 40%;
        height: auto;
        background-color: azure;
    }
    
    .star_vote{
        height: 50px;
        width: 70%;
        margin-left:30%;
        text-align: center;
        padding-top: 4%;
        font-weight: 600;
        font-size: 20px;
        color: rgb(84, 13, 13);
    }
    
    .see_showtime{
        background-color: red;
        width: 80%;
        height: 50px;
        color: white;
        border: 1px solid red;
        border-radius: 0.8em;
        margin-top: 1%;
        font-size: 16px;
    }
    .more_watchoption{
    background-color: rgb(222, 180, 180);
        width: 80%;
        height: 50px;
        color: black;
        border: 1px solid red;
        border-radius: 0.8em;
        margin-top: 0.5%;
        font-size: 16px;
    }    
}


@media screen and (min-width:1500px) {
    body{
        margin: 0;
        padding: 0;
    }
    
    .main-container{
        width: 100%;
        height: auto;
        background-color: rgb(146, 146, 0);
        display: flex;
        flex-direction: row;
    }
    
    .sidenav-container{
        background-color: white;
        width: 21%;
        height: 652px;
        padding-top: 3%;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-right: 3px solid  rgb(74, 68, 68);
        position: none;
        overflow: hidden;
    
    }
    
    .sidenav1{
        width: 100%;
        display: flex;
    }
    
    .img6{
        width: 60px;
        height: 60px; 
        margin-left: 7%; 
        margin-bottom:10% ; 
    }
    a{
        text-decoration: none;
        color: black;
    }
    
    h2{
        color: black;
        font-weight: 10px;
        font-size: 25px;
        padding-left: 10px;
        margin-bottom: 10%;
    }
    
    .sidenav2{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 5%;
        background-color: whitesmoke;
        margin-top: 4%;
        display: block;
    }
    .sidenav3{
        width: 83.5%;
        height: 40px;
        font-size: 18px;
        font-weight: 600;
        padding-left: 15%;
        padding-top: 5%;
        background-color: rgb(237, 184, 184);
        margin-top: 5%;
        border-right: 5px solid red;
        display: block;
    
    } .sidenav4{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 5%;
        background-color: whitesmoke;
        margin-top: 5%;
        display: block;
    } 
    .sidenav5{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        padding-left: 15%;
        padding-top: 5%;
        background-color: whitesmoke;
        margin-top: 5%;
        display: block;
    }
    
    .sidenav6{
        background-color:white;
        width: 60%;
        height: 20%;
        margin-left: 10%;
        margin-top: 7%;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        padding-left: 3%;
        padding-top:4% ;
        border-radius: 5px;
        border: 1px solid red;
        display: block;
    
        p{
            font-size: 12px;
            font-weight: 400;
            padding-top: 4%;
        }
    }
    
    .playing-now{
        margin-left: 14%;
        background-color: rgb(245, 137, 137);
        color: red;
        font-size: 15px;
        height: 35px;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
    }
    
    .sidenav7{
        font-size: 18px;
        height: 40px;
        padding-left: 18%;
        padding-top: 5%;
        font-weight: 500;
        background-color: whitesmoke;
        margin-top: 6%;
        display: block;
        p{
            font-size: 2px;
        }
    }
    
    i{
        padding-right: 10%;
    }
    
    
    .main-body{
        background-color: azure;
        width: 79%;
        height: 700px; 
    }
    
    .trailer-display{
        background-color: wheat;
        width: 98%;
        height: 370px;
        margin-top: 2%;
        margin-left: 1%;
    }
    .movie-frame{
        width: 100%;
        margin: auto;
        margin-top: 20px;
        margin-left: 0%;
        
        iframe{
            width: 100%;
            height: 370px;
        }
    }
    
    .down-body{
        background-color: wheat;
        width: 100%;
        height: auto;
        margin-top: 2%;
        margin-left: 0%;
        display: flex;
        flex-direction: row;
        
    }
    
    .chief-station{
        width: 60%;
        height: auto;
        background-color: azure;
        border-right: 2px solid rgb(97, 95, 95);
    p{
        font-size: 18px;
        font-weight: 500;
    }
    }
    .overview{
        font-size: 18px;
    }
    .action-triller{
        width: 80%;
        height: 50px;
        /* background-color:red; */
        display: flex;
    h3{
        font-weight: 600;
        font-size: 18px;
    }
    button{
        border-radius: 0.8em;
        border: 1px solid red;
        width: 20%;
        height: 40px;
        margin-top: 1.5%;
        gap: 1%;
        margin-left: 2%;
        font-size: 15px;
        color: red;
    }
    }
    
    .rating-vote{
        width: 40%;
        height: auto;
        background-color: azure;
    }
    
    .star_vote{
        height: 50px;
        width: 70%;
        margin-left:30%;
        text-align: center;
        padding-top: 4%;
        font-weight: 600;
        font-size: 20px;
        color: rgb(84, 13, 13);
    }
    
    .see_showtime{
        background-color: red;
        width: 80%;
        height: 50px;
        color: white;
        border: 1px solid red;
        border-radius: 0.8em;
        margin-top: 1%;
        font-size: 16px;
    }
    .more_watchoption{
    background-color: rgb(222, 180, 180);
        width: 80%;
        height: 50px;
        color: black;
        border: 1px solid red;
        border-radius: 0.8em;
        margin-top: 0.5%;
        font-size: 16px;
    }    
}